# 데이터로더 테스트

In [2]:
from data_loader import DataLoader
from collections import Counter

## 데이터로더 생성

In [3]:
dl = DataLoader(r'E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64_vh64_asr11025')

## 데이터 개수 확인

In [4]:
dl.all_segment_df

,title,name,index,label,path,subset
0,20200205_KT_GEN_1,seg_00000_0,0,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
1,20200205_KT_GEN_1,seg_00001_0,1,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
2,20200205_KT_GEN_1,seg_00002_0,2,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
3,20200205_KT_GEN_1,seg_00003_0,3,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
4,20200205_KT_GEN_1,seg_00004_0,4,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
...,...,...,...,...,...,...
90437,20200425_GEN_T1_3,seg_00814_0,814,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
90438,20200425_GEN_T1_3,seg_00815_0,815,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
90439,20200425_GEN_T1_3,seg_00816_0,816,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
90440,20200425_GEN_T1_3,seg_00817_0,817,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train
90441,20200425_GEN_T1_3,seg_00818_0,818,0,E:\Work\YasuoNet\data\dataset120_sl5_vsr3_vw64...,train

In [5]:
df = dl.all_segment_df
df[df['index'] == 0]['subset'].value_counts()

train    70
test     27
valid    23
Name: subset, dtype: int64

### 전체 데이터 수

In [4]:
all_data_count = dl.get_all_data_count()
all_data_count

90442

### 레이블 별 데이터 수

In [5]:
count_0 = dl.get_data_count_by_label(0)
count_1 = dl.get_data_count_by_label(1)
print(f'label 0: {count_0} ({count_0 / all_data_count:.4f} %)')
print(f'label 1: {count_1} ({count_1 / all_data_count:.4f} %)')

label 0: 81026 (0.8959 %)
label 1: 9416 (0.1041 %)

### 학습/검증/테스트 데이터 수

In [6]:
count_train = dl.get_train_data_count()
count_valid = dl.get_valid_data_count()
count_test = dl.get_test_data_count()
print(f'train: {count_train} ({count_train / all_data_count:.4f} %)')
print(f'train: {count_valid} ({count_valid / all_data_count:.4f} %)')
print(f'train: {count_test} ({count_test / all_data_count:.4f} %)')

train: 53348 (0.5899 %)
train: 17233 (0.1905 %)
train: 19861 (0.2196 %)

## 학습 배치 데이터 로드

In [14]:
dl_train_iter = dl.iter_train_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_train_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y))

0 5000 5000 Counter({0: 4493, 1: 507})
1 5000 5000 Counter({0: 4493, 1: 507})
2 5000 5000 Counter({0: 4493, 1: 507})
3 5000 5000 Counter({0: 4493, 1: 507})
4 5000 5000 Counter({0: 4493, 1: 507})
5 5000 5000 Counter({0: 4493, 1: 507})
6 5000 5000 Counter({0: 4493, 1: 507})
7 5000 5000 Counter({0: 4493, 1: 507})
8 5000 5000 Counter({0: 4493, 1: 507})
9 5000 5000 Counter({0: 4493, 1: 507})

## 검증 배치 데이터 로드

In [8]:
dl_valid_iter = dl.iter_valid_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_valid_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y))

0 5000 5000 Counter({0: 4570, 1: 430})
1 5000 5000 Counter({0: 4349, 1: 651})
2 5000 5000 Counter({0: 4466, 1: 534})
3 2233 2233 Counter({0: 1991, 1: 242})

## 테스트 배치 데이터 로드

In [13]:
dl_test_iter = dl.iter_test_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_test_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y))

0 5000 5000 Counter({0: 4445, 1: 555})
1 5000 5000 Counter({0: 4471, 1: 529})
2 5000 5000 Counter({0: 4430, 1: 570})
3 4861 4861 Counter({0: 4365, 1: 496})

## 전체 배치 데이터 로드 (별도의 prediction용 데이터셋에 사용)

In [9]:
dl_all_iter = dl.iter_all_batch_data(5000)

for i, (batch_x, batch_y) in enumerate(dl_all_iter):
    print(i, len(batch_x), len(batch_y), Counter(batch_y))

0 5000 5000 Counter({0: 4456, 1: 544})
1 5000 5000 Counter({0: 4569, 1: 431})
2 5000 5000 Counter({0: 4521, 1: 479})
3 5000 5000 Counter({0: 4479, 1: 521})
4 5000 5000 Counter({0: 4556, 1: 444})
5 5000 5000 Counter({0: 4513, 1: 487})
6 5000 5000 Counter({0: 4465, 1: 535})
7 5000 5000 Counter({0: 4407, 1: 593})
8 5000 5000 Counter({0: 4495, 1: 505})
9 5000 5000 Counter({0: 4500, 1: 500})
10 5000 5000 Counter({0: 4469, 1: 531})
11 5000 5000 Counter({0: 4393, 1: 607})
12 5000 5000 Counter({0: 4475, 1: 525})
13 5000 5000 Counter({0: 4414, 1: 586})
14 5000 5000 Counter({0: 4508, 1: 492})
15 5000 5000 Counter({0: 4433, 1: 567})
16 5000 5000 Counter({0: 4465, 1: 535})
17 5000 5000 Counter({0: 4489, 1: 511})
18 442 442 Counter({0: 419, 1: 23})

## Small DataSet
dataset14_sl5_vsr3_vw64_vh64_asr11025

In [22]:
small_train_set = df[(df['index'] == 0) & (df['subset'] == 'train')]['title'][:8]
print(small_train_set)
print('\nsegment count:', len(df[df['title'].isin(small_train_set)]))

0         20200205_KT_GEN_1
938       20200205_T1_DWG_1
2844      20200206_GRF_AF_1
7780     20200208_APK_DWG_1
9220     20200208_GEN_GRF_1
9909      20200209_AF_HLE_3
10664     20200209_SB_DRX_3
11519     20200212_APK_AF_1
Name: title, dtype: object

segment count: 7234

In [20]:
small_valid_set = df[(df['index'] == 0) & (df['subset'] == 'valid')]['title'][:3]
print(small_valid_set)
print()
print('\nsegment count:', len(df[df['title'].isin(small_valid_set)]))

5295      20200207_DRX_KT_3
15355    20200214_GRF_APK_3
20930     20200216_T1_GEN_2
Name: title, dtype: object


segment count: 2281

In [21]:
small_test_set = df[(df['index'] == 0) & (df['subset'] == 'test')]['title'][:3]
print(small_test_set)
print('\nsegment count:', len(df[df['title'].isin(small_test_set)]))

2017    20200205_T1_DWG_2
3895    20200206_GRF_AF_2
4638    20200207_DRX_KT_2
Name: title, dtype: object

segment count: 2227